body{
    background-color: #f0f0f0;
    font-family: Arial;
    text-align: center;
}

.container{
    background: white;
    width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.foto{
    width:150px;
    height:150px;
    border-radius:50%;
}

.imagem{
    width:200px;
    margin:10px;
}

ul {
    display: inline-block;
    text-align: left;
}
